exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(RiboDiPA, .registration = TRUE)
import(graphics)
import(stats, except=c(mad,IQR,var,sd,p.adjust,xtabs))
import(GenomicFeatures)
import(Rsamtools)
import(GenomicAlignments)
import(parallel)
import(foreach)
import(doParallel)
import(DESeq2)
import(IRanges)
import(GenomicRanges)
import(qvalue)
import(ggplot2)
import(BiocFileCache)
importFrom("elitism", "p.adjust")
importFrom("data.table","data.table","as.data.table",":=",
"merge.data.table","setnames")
import(S4Vectors)
import(reldist)
importFrom("graphics", "axis", "barplot", "layout", "par", "title", "rect")
importFrom("matrixStats", "colSums2","rowSums2")
importFrom("methods", "as")
importFrom("stats", "setNames")
export(RiboDiPA)
export(psiteMapping)
export(dataBinning)
export(diffPatternTest)
export(diffPatternTestExon)
